img {
    
    max-width: 100%; /* Ensures all images stay within the width of their container */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin: auto auto auto auto;
}